<div class="container">
  <p class="text-xl font-bold">Our Latest Collection</p>
  <div class="flex flex-wrap gap-12">
    @for (product of products; track product.id) {
    <div>
      <mat-card
        class="product-card hover:scale-105 transition-transform cursor-pointer"
      >
        <img mat-card-image [src]="product.imageUrl" />
        <mat-card-content>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>{{
            product.price | currency : "USD"
          }}</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
    }
  </div>
</div>
